:root {
    --color-green-light: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800:  hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);

    --font-family: 'Inter', sans-serif;
    --font-size-heading: 1.5rem;
    --font-size-body: 0.875rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

.container {
    min-height: 100vh;
    background-color: var(--color-grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}

.container-card {
    width: 90%;
    max-width: 384px;
    background-color: var(--color-grey-800, rgba(31, 31, 31, 1));
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card-avatar {
    width: 88px;
    height: 88px;
    border-radius: 999px;
}

.container-author {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 4px;
}

.card-title {
    color: var(--color-white);
    font-size: var(--font-size-heading);
    font-weight: 600;
}

.card-location {
    color: var(--color-green-light);
    font-size: var(--font-size-body);
    font-weight: 700;
}

.card-location:hover {
    color: var(--color-green-light);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.card-about {
    color: var(--color-white);
    font-size: var(--font-size-body);
    font-weight: 400;
}

.card-links-group {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style-type: none;
    width: 100%; /* Ensure the links take full width for better clickability */
}

.card-link {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-grey-700, rgba(51, 51, 51, 1));
    border-radius: 8px;
    color: var(--color-white);
    font-size: var(--font-size-body);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.card-link:hover {
    background-color: var(--color-green-light);
    color: var(--color-grey-900);
}
